<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.configs.title %>
  </title>
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.configs.icon %>" />
  <meta name="viewport" content="width=device-width, initial-scale=0.2, minimum-scale=0.3, maximum-scale=2.0, user-scalable=yes" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta name="referrer" content="no-referrer" />
  <meta name="Copyright" content="<%= htmlWebpackPlugin.options.configs.copyright %>" />
  <meta name="Description" content="<%= htmlWebpackPlugin.options.configs.descriptions %>" />
  <meta name="Keywords" content="<%= htmlWebpackPlugin.options.configs.keywords %>" />
  <!-- 无侵入式静态资源自动重试 -->
  <% if(htmlWebpackPlugin.options.plugins.assetsRetryConfig) { %>
  <script>
     <%= htmlWebpackPlugin.options.plugins.assetsRetry %>
  </script>
  <script>
    window.assetsRetryStatistics = window.assetsRetry(<%= htmlWebpackPlugin.options.plugins.assetsRetryConfig %>);
  </script>
  <% } %>
  <!--开始注入配置文件的css-->
  <% Array.isArray(htmlWebpackPlugin.options.configs.css) &&
    htmlWebpackPlugin.options.configs.css.forEach(function(css) { %>
  <link href="<%= css %>" rel="stylesheet" />
  <% }) %>
  <!--结束注入配置文件的css-->
  <!--开始注入webpack生成的css-->
  <% htmlWebpackPlugin.files.css.forEach(function(css) { %>
  <link href="<%= css %>" rel="stylesheet" />
  <% }) %>
  <!--结束注入webpack生成的css-->
  <!--开始注入配置文件的script-->
  <% Array.isArray(htmlWebpackPlugin.options.configs.script) &&
    htmlWebpackPlugin.options.configs.script.forEach(function(script) { %>
  <script type="text/javascript" src="<%= script %>"></script>
  <% }) %>
  <!--结束注入配置文件的script-->
</head>

<body>
  <div id="app"></div>
  <!--开始注入webpack生成的js-->
  <% htmlWebpackPlugin.files.js.forEach(function(js) { %>
  <script type="text/javascript" src="<%= js %>"></script>
  <% }) %>
  <!--结束注入webpack生成的js-->
</body>

</html>